   
    <ul class='circle-container'>

    <li ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave" popoverTitle="Pop title"><a href="http://google.com"><img src='http://api.randomuser.me/portraits/men/49.jpg'></a></li>
    <li ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave" popoverTitle="Pop title"><a href="http://google.com"><img src='http://api.randomuser.me/portraits/men/49.jpg'></a></li>
    <li ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave" popoverTitle="Pop title"><a href="http://google.com"><img src='http://api.randomuser.me/portraits/men/49.jpg'></a></li>
    <li ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave" popoverTitle="Pop title"><a href="http://google.com"><img src='http://api.randomuser.me/portraits/men/49.jpg'></a></li>
    <li ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave" popoverTitle="Pop title"><a href="http://google.com"><img src='http://api.randomuser.me/portraits/men/49.jpg'></a></li>
    <li ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave" popoverTitle="Pop title"><a href="http://google.com"><img src='http://api.randomuser.me/portraits/men/49.jpg'></a></li>
    <li ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave" popoverTitle="Pop title"><a href="http://google.com"><img src='http://api.randomuser.me/portraits/men/49.jpg'></a></li>
    <li ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave" popoverTitle="Pop title"><a href="http://google.com"><img src='http://api.randomuser.me/portraits/men/49.jpg'></a></li>
    <li ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave" popoverTitle="Pop title"><a href="http://google.com"><img src='http://api.randomuser.me/portraits/men/49.jpg'></a></li>
    <li><a href="http://google.com"><img src='http://api.randomuser.me/portraits/men/49.jpg'></a></li>


    <!-- <li><img src='http://lorempixel.com/100/100/nature'></li>
    <li><img src='http://lorempixel.com/100/100/abstract'></li>
    <li><img src='http://lorempixel.com/100/100/cats'></li>
    <li><img src='http://lorempixel.com/100/100/food'></li>
    <li><img src='http://lorempixel.com/100/100/animals'></li>
    <li><img src='http://lorempixel.com/100/100/business'></li>
    <li><img src='http://lorempixel.com/100/100/people'></li> -->
  </ul>

